spring:
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    com.invoiceng: INFO
    org.springframework.security: WARN
    org.hibernate.SQL: WARN

server:
  error:
    include-message: never
    include-binding-errors: never
    include-stacktrace: never
